section
	section#agenda
		h2 Agenda:
		ol
			li.fragment.fade-right(data-fragment-index='1')
				a.fragment(href='#/agenda-html', data-fragment-index='1')
					| HTML
			li.fragment.fade-right(data-fragment-index='2')
				a.fragment(href='#/agenda-css', data-fragment-index='2')
					| CSS
			li.fragment.fade-right(data-fragment-index='3')
				a.fragment(href='#/live-coding', data-fragment-index='3')
					| Live coding
	section#agenda-html
		.agenda-align
			h3 HTML
			ul
				li.fragment.fade-right(data-fragment-index='1')
					a.fragment.highlight-current-green(href='#/basic-tags', data-fragment-index='1')
					| Podstawowe znaczniki
				li.fragment.fade-right(data-fragment-index='2')
					a.fragment.highlight-current-green(href='#/semantic-tags', data-fragment-index='2')
					| Znaczniki semantyczne
				li.fragment.fade-right(data-fragment-index='3')
					a.fragment.highlight-current-green(href='#/structure', data-fragment-index='3')
					| Struktura pliku HTML
	section#agenda-css
		.agenda-align
			h3 CSS
			ul
				li.fragment.fade-right(data-fragment-index='1')
					a.fragment.highlight-current-green(href='#/css-def', data-fragment-index='1')
					| Czym jest CSS?
				li.fragment.fade-right(data-fragment-index='2')
					a.fragment.highlight-current-green(href='#/selectory', data-fragment-index='2')
					| Selektory CSS
					
					
