
section#ending
    section
        h4 Przydatne linki 
        ul
            li
                a(href='https://developer.mozilla.org/pl/') developer.mozilla.org
            li
                a(href='https://flexboxfroggy.com/#pl') flexboxfroggy.com
            li
                a(href='https://cssgridgarden.com/#pl') cssgridgarden.com
            li
                a(href='https://flukeout.github.io/') flukeout.github.io
            li
                a(href='http://www.flexboxdefense.com/') www.flexboxdefense.com
    section
        h4 
            a(href='https://obryko.github.io/html-jsk-slides') https://obryko.github.io/html-jsk-slides
        span 
            |Uwagi do prezentacji oraz feedback proszę wysyłac na 
            a(href=`mailto:kacper.obrycki@capgemini.com`) kacper.obrycki@capgemini.com
            |. Każda uwaga pomoże tej prezentacji i prezenterowi być lepszym w przyszłości ! :) 

    section 
        h4 Dziękuję za uwagę ! 
            
        
        