section
    section
        h3 Poznajmy się
        ol
            li.fragment.fade-right(data-fragment-index='1')
                |Dwa zdania opisujące twoją osobę.
            li.fragment.fade-right(data-fragment-index='2')
                |Jaki blok podobał się tobie najbardziej na SK?
            li.fragment.fade-right(data-fragment-index='3')
                |Co chciałbyś/chciałabyś robić po SK, czym sie zajmować?
            li.fragment.fade-right(data-fragment-index='4')
                |Jaki są twoje oczekiwania od nadchodzącego bloku?