.reveal
  .slides
    include slides/title-page.pug
    include slides/agenda.pug
    include slides/meet.pug
    include slides/html.pug
    include slides/css.pug
    include slides/live-coding.pug
    include slides/ending.pug
